html {
    font-family: Helvetica;
}

nav ul {
    list-style-type: None;
    background-color: Green;
}

nav ul li{
    display: inline;
    color: #FFFFFF;
}

nav ul li:hover {
    background-color: rgb(130, 255, 98);
}