html {
    font-family: Helvetica;
}

header h1 {
    border-collapse: collapse;
    padding-bottom: 0px;
    margin: 0;
    padding: 0;
    font-size: 5em;
    font-weight: light;
}

header h6 {
    border-collapse: collapse;
    float: top;
    margin: 0;
    padding: 0;
    font-size: 1em;
}

header, nav {
    display: inline;
    border-collapse: collapse;
	margin: 0;
	padding: 0;
}

nav ul {
    list-style-type: None;
	background-color: rgba(61, 144, 108, 1);
    font-weight: bold;
    padding: 8px;
	margin-bottom: 0;
}

nav ul li{
    display: inline;
    color: #FFFFFF;
    padding: 8px;
}

nav ul li a{
    text-decoration: none;
    color: #FFFFFF;
}

nav ul li:hover, nav ul li a:hover {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgb(130, 255, 98);
    color: #000000;
}

img.large {
	width: 100%;
	height: 350px;
	object-fit: cover;
	margin: 0;
	padding: 0;
}

img.logo {
    background-color: #FFFFFF;
    float: left;
}

article{
	margin: 0;
}

article div.about-us {
	background-size: cover;
	background-position-y: 69%;
}

article div.about-us-transbox {
	background-color: rgba(61, 144, 108, 0.8);
    color: White;
	margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

/* 'Meet the People' Containers */

.container {
    position: relative;
    width: 100%;
    margin-left: 37%;
}

.image-profile {
    display: block;
    width: 25%;
    height: 25%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(61, 144, 108, 1);
    overflow: hidden;
    width: 25%;
    height: 0;
    transition: .5s ease;
}

.container:hover .overlay {
    height: 20%;
}

.name {
    white-space: nowrap;
    color: white;
    font-size: 100%;
    text-align: center;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

